@{
  Layout="_Layout";
}

@using ToDoList.Models;

<h2>Category: @Model["category"].GetName()</h2>
<hr>
@if (@Model["categoryItems"].Count != 0)
{
  <h4>Here are all the items in this category:</h4>
  <ul>
  @foreach (var item in @Model["categoryItems"])
  {
    <li>@item.GetDescription()</li>
  }
  </ul>
}

<h4>Add an item to this category:</h4>
@* Go to the categories table, look for the category with a certain id, then go to the items table and select all items with the same category id as in the cateogires table, and those items to the categories table. *@
<form action='/categories/@Model["category"].GetId()/items/new' method="post">
  <label for="item-id">Select an item:</label>
  <select id="item-id" name="item-id" type="text">
    @* iterate through the item list that we stored in the dictionary with the key allItems and *@
    @foreach (var item in @Model["allItems"])
    {
      /*Get the description of an item with a certain id*/
      <option value="@item.GetId()">@item.GetDescription()</option>
    }
  </select>
  <br>
  <hr>
  <button type="Submit">Add</button>
</form>
<br>
<hr>
<p><a href="/">Return to Main Page</a></p>
<hr>
